* { color: #444; }
*:not(pre) { font-family: Roboto, sans-serif; }
* { font-size: 15pt; }
h1 { font-size: 24pt; }
h2 { font-size: 21pt; }
h3 { font-size: 18pt; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a.lowlight * { opacity: 0.75; }

body { margin: 25px; background-color: #FBF9F3; }

footer.center { text-align: center; }
body footer { padding-top: 75px; }
form footer { padding-top: 25px; }

.display-none { display: none; }
.visibility-hidden { visibility: hidden; }

.github-icon { top: 2px; position: relative; opacity: 0.3; }
